<!-- app/views/shared/_header.html.erb -->
<header class=p-4 w-full z-10'>
  <nav class="flex items-center justify-between">
    <div class="text-black">
      <%= link_to "Sunny Hundal", root_path, class: "text-black hover:text-gray-300 text-3xl ml-10" %>
    </div>

    <div class='flex justify-between  '>
    <div class="text-black">
      <%= link_to "About me", root_path, class: "mr-10 text-black hover:text-gray-300" %>
    </div>
    <div class="text-black">
      <%= link_to "Projects", root_path, class: "mr-10 text-black hover:text-gray-300" %>
    </div>

    <div class="text-black">
      <%= link_to "Why Hire me?", root_path, class: "mr-10 text-black hover:text-gray-300" %>
    </div>
    <div class="text-black">
      <%= link_to "Skills", root_path, class: "mr-10 text-black hover:text-gray-300" %>
    </div>
        <div class="text-black">
      <%= link_to "Contact Me", root_path, class: "mr-10 text-black hover:text-gray-300" %>
    </div>
    </div>

    <!-- Add more navigation links as needed -->
  </nav>
</header>