<!-- app/views/shared/_header.html.erb -->

<header class='bg-gray-800 p-4 w-full drop-shadow-lg opacity-90 '>
  <nav class="flex items-center justify-between">
    <div class="text-white">
      <%= link_to "Sunny Hundal", root_path, class: "text-white hover:text-gray-300 text-3xl ml-10" %>
    </div>

    <div class='flex justify-between  '>
    <div class="text-white">
      <%= link_to "Home", root_path, class: "mr-10 text-white hover:text-gray-300" %>
    </div>
    <div class="text-white">
      <%= link_to "Home", root_path, class: "mr-10 text-white hover:text-gray-300" %>
    </div>
    <div class="text-white">
      <%= link_to "Home", root_path, class: "mr-10 text-white hover:text-gray-300" %>
    </div>
    <div class="text-white">
      <%= link_to "Home", root_path, class: "mr-10 text-white hover:text-gray-300" %>
    </div>
    <div class="text-white">
      <%= link_to "Home", root_path, class: "mr-10 text-white hover:text-gray-300" %>
    </div>
    </div>

    <!-- Add more navigation links as needed -->
  </nav>
</header>